.one {
    // color: #565656;
    // fill: #565656;
    // border-color: #565656;
    color: #504935;
    fill: #504935;
    border-color: #504935;
}

.two {
    color: #ffe600;
    fill: #ffe600;
    border-color: #ffe600;
}

.three {
    // color: #f10f0f;
    // fill: #f10f0f;
    color: #fd2115;
    fill: #fd2115;
    border-color: #fd2115;
}

.four {
    // color: #59ff3c;
    // fill: #59ff3c;
    // border-color: #59ff3c;
    color: #46877e;
    fill: #46877e;
    border-color: #46877e;
}

.five {
    // color: #00dd88;
    // fill: #00dd88;
    color: #0400ff;
    fill: #0400ff;
    border-color: #0400ff;
}

.six {
    color: #00d9ff;
    fill: #00d9ff;
    border-color: #00d9ff;
    color: #0a79fd;
    fill: #0a79fd;
    border-color: #0a79fd;
}

.seven {
    // color: #4400ff;
    // fill: #4400ff;
    color: #8f1b7b;
    fill: #8f1b7b;
    border-color: #8f1b7b;
}

.eight {
    // color: #ae00ff;
    // fill: #ae00ff;
    color: #ff00aa;
    fill: #ff00aa;
    border-color: #ff00aa;
}

.nine {
    // color: #f56709;
    // fill: #f56709;
    // border-color: #f56709;
    color: #590504;
    fill: #590504;
    border-color: #590504;
}

.ten {
    // color: #00ffff;
    // fill: #00ffff;
    color: #ffe600;
    fill: #ffe600;
    border-color: #ffe600;
}

.white {
    color: #ffffff;
    fill: #ffffff;
    border-color: #ffffff;
}