$color-one: #000000;

$color-two: #000000;

$color-three: #000000;

$color-four: #000000;

$color-five: #000000;

$color-six: #000000;

$color-seven: #000000;

$color-eight: #000000;

$color-nine: #000000;

$color-ten: #000000;

$color-primary: #ee8f66;

$color-background: #ee8f66;
// $color-primary: #ffc8ba;

$color-black: #000000;

$color-white: #ffffff;



$main-cell-dimention: 9rem;
$component-pad-horizontal: 1rem;
$component-pad-vertical: .5rem;

$footer-font-size-main: 1.6rem;